.box {
	border-radius: var(--radius-l);
	padding: var(--space-l);
	inline-size: 90%;
	inline-size: -webkit-fill-available;
	box-sizing: content-box;
	margin-inline: var(--inset-body);
	box-shadow: var(--elevation-4);
}
