/* crop media to an aspect ratio */

.frame {
	aspect-ratio: 3/2;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.frame.square {
	aspect-ratio: 1/1;
}

.frame.photo {
	aspect-ratio: 3/2;
}

.frame.video {
	aspect-ratio: 16/9;
}

.frame > img,
.frame > video {
	inline-size: 100%;
	block-size: 100%;
	object-fit: cover;
}

@media (orientation: "portrait") {
	.frame {
		aspect-ratio: 1/1;
	}
}
