/* align children horizontally */
.inline {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap);
	justify-content: flex-start;
	align-items: center;
}

.inline.baseline {
	align-items: baseline;
}

.inline.stretch {
	align-items: stretch;
}
