ul {
	margin: 0;
	padding: 0;
	max-inline-size: max-content;
	list-style-type: none;
}

.nowrap > * {
	white-space: nowrap;
}

.max-content {
	inline-size: max-content;
}

ul > li {
	max-inline-size: max-content;
}
