/* Masonry style grid */
.masonry {
	gap: var(--gutter);
}

.masonry.col-2 {
	columns: 2;
}

.masonry.col-3 {
	columns: 3;
}

.masonry.col-4 {
	columns: 4;
}

.masonry.col-5 {
	columns: 5;
}

.masonry.col-6 {
	columns: 6;
}

.masonry > * + * {
	margin-block-start: var(--gutter);
	break-inside: avoid;
}
