.sidebar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--gutter);
}

.sidebar > .feature {
	flex-grow: 2;
	flex-shrink: 2;
}

.sidebar > :not(.feature) {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 45%;
}

.sidebar {
	inline-size: 100%;
}
