.sidebar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--gap);
}

.sidebar > .feature {
	flex: 1 1 55%;
}

.sidebar > :not(.feature) {
	flex: 1 1 40%;
}

.sidebar {
	inline-size: 100%;
	max-inline-size: 120ch;
}

#who_has_a_plan {
	inline-size: 100%;
	max-inline-size: 120ch;
}