/* more flexible version of media queries */
.switcher {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gutter);
}

.switcher > * {
	flex-grow: 1;
	flex-basis: calc((var(--threshold, 20rem) - 100%) * 999);
	max-inline-size: 100%;
}

/* .switcher > :nth-last-child(n + 5),
.switcher > :nth-last-child(n + 5) ~ * {
	flex-basis: 100%;
} */

.phone-down {
	--threshold: 20rem;
}

.tablet-down {
	--threshold: 40rem;
}
