/* 
    <nav class="pagination">
        <ul class="pagination__list">
            <li class="pagination__item">
            <a href="#" class="pagination__link" aria-label="Go to first page">First</a>
            </li>
            <li class="pagination__item">
            <a href="#" class="pagination__link" aria-label="Go to previous page">Previous</a>
            </li>
            <li class="pagination__item">
            <a href="#" class="pagination__link" aria-label="Go to page 1">1</a>
            </li>
            <li class="pagination__item">
            <a href="#" class="pagination__link" aria-label="Go to page 2">2</a>
            </li>
            <li class="pagination__item">
            <a href="#" class="pagination__link" aria-label="Go to page 3">3</a>
            </li>
            <li class="pagination__item">
            <a href="#" class="pagination__link" aria-label="Go to next page">Next</a>
            </li>
            <li class="pagination__item">
            <a href="#" class="pagination__link" aria-label="Go to last page">Last</a>
            </li>
        </ul>
    </nav>
*/

.pagination {
	display: flex;
	justify-content: center;
}

.pagination__list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.pagination__item {
	margin: 0;
}

.pagination__link {
	display: block;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	color: #333;
	cursor: pointer;
}

.pagination__link:hover,
.pagination__link:focus {
	background-color: #f5f5f5;
	outline: none;
}

.pagination__link[aria-current="page"] {
	background-color: #0077c2;
	color: #fff;
}
