.mobile-navigation {
	display: none;
}

.desktop-navigation {
	display: flex;
	justify-content: center;
}

.desktop-navigation .navigation[aria-current="page"] {
	color: var(--color-brand);
	background-size: 100% 2px;
	background-position-x: left;
}

@media (max-width: 767px) {
	.desktop-navigation {
		display: none;
	}

	.mobile-navigation {
		display: block;
	}
	main {
		margin-block-start: calc(4rem + var(--space-m));
	}

	header {
		padding: 0 !important;
	}

	.topbar {
		block-size: 4rem;
		padding-inline: var(--space-s);
		inline-size: 100%;
		background: var(--color-brand);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		box-shadow: var(--shadow-medium);
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 1;
	}

	.bottombar {
		inline-size: 100%;
		background: var(--color-brand);
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		box-shadow: var(--shadow-medium);
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 1;
	}

	.bottombar a {
		padding: var(--space-xs);
		color: var(--color-surface);
	}

	.navigation[aria-current="page"]:after {
		content: "";
		block-size: 2px;
		position: absolute;
		bottom: 0;
		inline-size: 100%;
		background-color: var(--color-surface);
		/* border-block-end-color: var(--color-surface); */
	}

	.navigation {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--space-3xs);
		font-size: var(--font-size--1);
		/* border-block: 2px solid var(--color-brand); */
		position: relative;
		inline-size: max-content;
	}
}
