.icon:not(.btn) {
	inline-size: 1.5em;
	block-size: 1.5em;
}

.icon.small:not(.btn) {
	font-size: 0.75em;
}

.icon.large:not(.btn) {
	font-size: 1.5em;
}

.with-icon {
	display: inline-flex;
	align-items: flex-start;
	gap: var(--space-2xs);
	flex-wrap: nowrap;
}
