* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom left, rgba(0, 216, 214, 0.3), rgba(0, 216, 214, 0.3)), url("../../assets/ocean.jpg");
    background-attachment: fixed;
    background-size: cover;
    padding: 3vh;
    min-width: 100%;

    @include bp-phone {
        padding: 3vh;
    }
}