//Use REM 1 rem = 10px

html {
    font-size: 10px;
    line-height: 1.5;
}

h1 {
    font-family: 'lato', sans-serif;
}

h2 {
    font-family: 'lato', sans-serif;
}

h3 {
    font-family: 'lato', sans-serif;
}

h4 {
    font-family: 'lato', sans-serif;
}

h5 {
    font-family: 'lato', sans-serif;
}

h6 {
    font-family: 'lato', sans-serif;
}

small {
    font-family: 'lato', sans-serif;    
}

p {
    font-family: 'open-sans', sans-serif;
}

a {
    font-family: 'lato', sans-serif;
    text-decoration: none;
}

.section__icon {

    &--html {
        color: $red;
        font-size: 8vmin;
        @include icon;
        margin: 0 .1rem;
    }

    &--css {
        color: $blue-light;
        font-size: 8vmin;
        @include icon;
        margin: 0 .1rem;
    }

    &--js {
        color: $yellow;
        font-size: 8vmin;
        @include icon;
        margin: 0 .1rem;
    }

    &--bootstrap {
        color: $purple;
        font-size: 8vmin;
        @include icon;
        margin: 0 .1rem;
    }

    &--wordpress {
        color: $grey-dark;
        font-size: 8vmin;
        @include icon;
        margin: 0 .1rem;
    }

    &--google {
        color: $blue;
        font-size: 8vmin;
        @include icon;
        margin: 0 .1rem;
    }

    &--vuejs {
        color: #42b883;
        font-size: 8vmin;
        @include icon;
        margin: 0 .1rem;
    }

    &--webpack {
        color: #1d78c1;
        font-size: 8vmin;
        @include icon;
        margin: 0 .1rem;
    }

    &--babel {
        color: #fed330;
        font-size: 8vmin;
        @include icon;
        margin: 0 .1rem;
    }

    &--sass {
        color: #c69;
        font-size: 8vmin;
        @include icon;
        margin: 0 .1rem;
    }

    &--github {
        font-size: 5vmin;
        margin-right: 3vh;
        color: $white;
        transition: all .3s;

        &:hover {
            color: $black;
        }
    }
}