button,
.btn {
	text-decoration: none;
	vertical-align: baseline;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	max-inline-size: 100%;
	background-color: var(--primary-ui);
	font-family: var(--font-family-body-text);
	color: var(--grey-100);
	border-radius: var(--radius-s);
	font-size: var(--font-size-0);
	font-weight: 700;
	line-height: var(--line-height-body-text);
	padding: var(--space-2xs) var(--space-m);
	border: 1px solid var(--primary-ui);
	transition: all 0.5s ease 0s;
	box-shadow: var(--shadow-s);
}

:is(button, .btn).large {
	font-size: var(--font-size-0);
	padding: var(--space-2xs) var(--space-xl);
}

:is(button, .btn):hover {
	box-shadow: var(--shadow-m);
}

:is(button, .btn):active {
	box-shadow: none;
}

:is(button, .btn).secondary {
	background-color: transparent;
	color: var(--primary-text);
	box-shadow: none;
}

:is(button, .btn).tertiary:is(:hover, :active) {
	box-shadow: none;
}

:is(button, .btn).tertiary {
	background-color: transparent;
	color: var(--primary-text);
	border-color: transparent;
	text-decoration: underline;
	box-shadow: none;
}

:is(button, .btn).fab {
	border-radius: 50%;
	padding: var(--space-2xs);
	box-shadow: var(--shadow-xl);
}

:is(button, .btn).icon {
	padding: var(--space-2xs);
	box-shadow: none;
}

/* :is(button, .btn).icon:is(:hover, :active) {
	background: var(--primary-bg);
	color: var(--primary-text);
	box-shadow: none;
} */
