a:not(.btn) {
	transition: all 0.3s;
	vertical-align: baseline;
	font-family: var(--font-family-body-text);
	font-size: var(--font-size-body-text);
	max-inline-size: var(--measure-body-text);
	line-height: var(--line-height-body-text);
	letter-spacing: var(--letters-spacing-body-text);
	color: var(--color-fg-primary);
}

a:not(.btn):hover,
a:not(.btn):active {
	color: var(--primary);
}

.navigation {
	background: linear-gradient(0deg, currentColor, currentColor) no-repeat right
		bottom / 0 2px;
	padding-block-end: 2px;
	inline-size: max-content;
	text-decoration: none;
	transition: background-size 350ms;
}

.navigation:hover,
.navigation:focus-visible {
	background-size: 100% 2px;
	background-position-x: left;
}

.media {
	text-decoration: none;
}
