a {
	transition: all 0.3s;
	vertical-align: baseline;
	font-size: var(--font-size-body);
	max-inline-size: var(--measure-body);
	line-height: var(--line-height-body);
	letter-spacing: var(--letters-spacing-body);
}

.navigation {
	background: linear-gradient(0deg, currentColor, currentColor) no-repeat right
		bottom / 0 2px;
	padding-block-end: 2px;
	inline-size: max-content;
	text-decoration: none;
	transition: background-size 350ms;
}

.navigation:hover,
.navigation:focus-visible {
	background-size: 100% 2px;
	background-position-x: left;
}

.media {
	text-decoration: none;
}
