/* Informative - clarity, authority, and precision - clean, simple typography, muted colors, and clear organization of information */

:root {
	--color-neutral-700: #090a0d;
	--color-neutral-600: #272a30;
	--color-neutral-500: #3f4147;
	--color-neutral-400: #787b82;
	--color-neutral-300: #b3b6bd;
	--color-neutral-200: #dadce3;
	--color-neutral-100: #f2f5fc;

	--color-brand-400: #051233;
	--color-brand-300: #142c66;
	--color-brand-200: #5274cc;
	--color-brand-100: #80a4ff;

	--radius-s: 4px;
	--radius-l: 6px;

	--font-1: Helvetica;
	--font-2: Arial;
	--font-3: Georgia;
	--font-4: "Times New Roman";
	--font-5: Verdana;
}