/* Inspirational - motivation, encouragement, and positivity - bright, uplifting colors, bold typography, and inspiring imagery like natural landscapes or people overcoming obstacles */

:root {
	--color-neutral-700: #090c0d;
	--color-neutral-600: #272e30;
	--color-neutral-500: #3f4547;
	--color-neutral-400: #787f82;
	--color-neutral-300: #b3babd;
	--color-neutral-200: #dae1e3;
	--color-neutral-100: #f2fafc;

	--color-brand-400: #052833;
	--color-brand-300: #145266;
	--color-brand-200: #52adcc;
	--color-brand-100: #80dfff;

	--radius-s: 20px;
	--radius-l: 30px;

	--font-1: Helvetica;
	--font-2: Futura;
	--font-3: "Proxima Nova";
	--font-4: Gotham;
	--font-5: Avenir;
}