/* Luxurious - exclusivity, sophistication, and indulgence - rich, deep colors, ornate typography and imagery, and high-quality materials like leather or metal */

:root {
	--color-neutral-700: #0c090d;
	--color-neutral-600: #2f2730;
	--color-neutral-500: #463f47;
	--color-neutral-400: #807882;
	--color-neutral-300: #bbb3bd;
	--color-neutral-200: #e1dae3;
	--color-neutral-100: #fbf2fc;

	--color-brand-400: #2b0533;
	--color-brand-300: #581466;
	--color-brand-200: #b852cc;
	--color-brand-100: #ea80ff;

	--radius-s: 0px;
	--radius-l: 0px;

	--font-1: Helvetica;
	--font-2: Baskerville;
	--font-3: Didot;
	--font-4: Trajan;
	--font-5: Garamond;
}