/* Playful - humor, creativity, and whimsy - bright colors, playful shapes and patterns, and cartoonish illustrations */

:root {
	--color-neutral-700: #0d090b;
	--color-neutral-600: #30272d;
	--color-neutral-500: #473f45;
	--color-neutral-400: #82787f;
	--color-neutral-300: #bdb3ba;
	--color-neutral-200: #e3dae0;
	--color-neutral-100: #fcf2f9;

	--color-brand-400: #330524;
	--color-brand-300: #66144b;
	--color-brand-200: #cc52a3;
	--color-brand-100: #ff80d5;

	--radius-s: 20px;
	--radius-l: 30px;

	--font-1: "Cooper Hewitt";
	--font-2: Bungee;
	--font-3: "Fredoka One";
	--font-4: Lobster;
	--font-5: Pacifico;
}