/* Professional - competence, reliability, and expertise - clean, sharp lines, neutral colors, and minimalistic design */

:root {
	--color-neutral-700: #09090d;
	--color-neutral-600: #272730;
	--color-neutral-500: #3f3f47;
	--color-neutral-400: #787882;
	--color-neutral-300: #b3b3bd;
	--color-neutral-200: #dadae3;
	--color-neutral-100: #f2f2fc;

	--color-brand-400: #050533;
	--color-brand-300: #141466;
	--color-brand-200: #5252cc;
	--color-brand-100: #8080ff;

	--radius-s: 0px;
	--radius-l: 0px;

	--font-1: Helvetica;
	--font-2: Arial;
	--font-3: Georgia;
	--font-4: "Times New Roman";
	--font-5: "Open Sans";
}