.tag {
	background-color: var(--bg-primary);
	border: 1.5px solid var(--fg-primary);
	color: var(--fg-primary);
	border-radius: var(--radius-s);
	font-family: var(--font-family-body-text);
	font-weight: 700;
	padding: var(--space-3xs) var(--space-xs);
	inline-size: fit-content;
	font-size: var(--font-size--1);
}

.tag.brand {
	background-color: var(--primary-bg);
	border-color: var(--primary-text);
	color: var(--primary-text);
}

.tag.accent-1 {
	background-color: var(--accent-1-bg);
	border-color: var(--accent-1-text);
	color: var(--accent-1-text);
}

.tag.accent-2 {
	background-color: var(--accent-2-bg);
	border-color: var(--accent-2-text);
	color: var(--accent-2-text);
}
