blockquote {
	border: none;
	font-family: var(--font-family-heading);
	quotes: "\201C""\201D""\2018""\2019";
	position: relative;
	font-size: var(--font-size-quote);
	margin: 0;
}

blockquote footer {
	padding: 0;
	margin-block-start: var(--space-s);
}

blockquote:before {
	content: open-quote;
	font-size: 7em;
	position: absolute;
	top: -0.8em;
	color: var(--color-accent-1);
}
