.tag {
	background-color: var(--color-accent);
	color: var(--color-fg-inverse);
	border-radius: var(--radius-l);
	font-family: var(--font-family-body);
	font-weight: 700;
	padding: var(--space-3xs) var(--space-xs);
	inline-size: fit-content;
	font-size: var(--font-size--1);
	box-shadow: var(--elevation-1);
}
