//Colors
//Uncomment the colors you want to use

// $pink-light : #ef5777;
// $pink : #f53b57;
// $red-light: #ff5e57;
 $red: #ff3f34;
// $orange-light: #ffc048;
// $orange: #ffa801;
// $yellow-light: #ffdd59;
 $yellow : #ffd32a;
// $green-light : #0be881;
// $green : #05c46b;
 $turquoise-light: #34e7e4;
 $turquoise : #00d8d6; 
 $blue-light : #4bcffa;
 $blue : #0fbcf9;
// $purple-light : #575fcf;
 $purple : #3c40c6;

 $white : #ffffff;
// $off-white : #f5f6fa;
 $grey-light : #d2dae2;
 $grey : #808e9b;
 $grey-dark : #485460;
// $off-black : #1e272e;
 $black : #000000;