.align-start {
	align-items: start !important;
}

.align-end {
	align-items: end !important;
}

.align-center {
	align-items: center !important;
}

.align-stretch {
	align-items: stretch !important;
}

.align-baseline {
	align-items: baseline !important;
}