.bg-darker {
	background-color: var(--color-darker);
}

.bg-darker > * {
	--color-shadow: var(--color-shadow-darker);
}

.bg-dark {
	background-color: var(--color-dark);
}

.bg-dark > * {
	--color-shadow: var(--color-shadow-dark);
}

.bg-light {
	background-color: var(--color-light);
}

.bg-light > * {
	--color-shadow: var(--color-shadow-light);
}

.bg-lighter {
	background-color: var(--color-lighter);
}

.bg-lighter > * {
	--color-shadow: var(--color-shadow-lighter);
}

.bg-brand {
	background-color: var(--color-brand);
}

.bg-brand > * {
	--color-shadow: var(--color-shadow-brand);
}

.bg-brand-bg {
	background-color: var(--color-brand-bg);
}

.bg-brand-bg > * {
	--color-shadow: var(--color-shadow-brand-bg);
}

.bg-accent-1 {
	background-color: var(--color-accent-1);
}

.bg-accent-1 > * {
	--color-shadow: var(--color-shadow-accent-1);
}

.bg-accent-1-bg {
	background-color: var(--color-accent-1-bg);
}

.bg-accent-1-bg > * {
	--color-shadow: var(--color-shadow-accent-1-bg);
}

.bg-accent-2 {
	background-color: var(--color-accent-2);
}

.bg-accent-2 > * {
	--color-shadow: var(--color-shadow-accent-2);
}

.bg-accent-2-bg {
	background-color: var(--color-accent-2-bg);
}

.bg-accent-2-bg > * {
	--color-shadow: var(--color-shadow-accent-2-bg);
}
