.inset-0 {
	padding: 0 !important;
}
.inset-3xs {
	padding: var(--space-3xs) !important;
}
.inset-2xs {
	padding: var(--space-2xs) !important;
}
.inset-xs {
	padding: var(--space-xs) !important;
}
.inset-s {
	padding: var(--space-s) !important;
}
.inset-m {
	padding: var(--space-m) !important;
}
.inset-l {
	padding: var(--space-l) !important;
}
.inset-xl {
	padding: var(--space-xl) !important;
}
.inset-2xl {
	padding: var(--space-2xl) !important;
}
.inset-3xl {
	padding: var(--space-3xl) !important;
}