textarea {
	padding: var(--space-xs);
	border: 2px solid var(--color-fg-secondary);
	border-radius: var(--radius-s);
	resize: none;
	background-color: var(--color-bg-primary);
	color: var(--color-fg-primary);
}
