:root {
	--radius-s: 20px;
	--radius-l: 20px;
	--radius-btn: 999px;
}

#landing_cover::before {
	background-image: url("../assets/images/services.jpeg");
}

/* #header::before {
	background-image: linear-gradient(
			to right bottom,
			rgba(7, 55, 46, 0.85),
			rgba(7, 55, 46, 0.85)
		),
		url("../assets/images/web-development.jpeg");
}
#c2contact::before {
	background-image: linear-gradient(
			to right bottom,
			rgba(7, 55, 46, 0.85),
			rgba(7, 55, 46, 0.85)
		),
		url("../assets/images/nature-background.jpeg");
} */

.pe-page {
	padding-block-end: var(--space-3xl);
}

.mockup {
	max-inline-size: 60%;
}

.projects {
	max-inline-size: 75%;
}
#services > section {
	display: none;
}

#services > #services_img {
	display: block;
}

#services > section:target {
	display: block;
}

#services > section:target ~ #services_img {
	display: none;
}
