:root {
	--radius-s: 20px;
	--radius-l: 20px;
	--radius-btn: 999px;
}

#header::before {
	background-image: linear-gradient(
			to right bottom,
			rgba(7, 55, 46, 0.65),
			rgba(7, 55, 46, 0.65)
		),
		url("../assets/images/web-development.jpeg");
}
#c2contact::before {
	background-image: linear-gradient(
			to right bottom,
			rgba(7, 55, 46, 0.65),
			rgba(7, 55, 46, 0.65)
		),
		url("../assets/images/nature-background.jpeg");
}

#services > section {
	display: none;
}

#services > #services_img {
	display: block;
}

#services > section:target {
	display: block;
}

#services > section:target ~ #services_img {
	display: none;
}
